body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.header {
  display: flex;
  flex-direction: row;
  width: 1440px;
  align-items: center;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}
.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}
button,
.order-btn {
  cursor: pointer;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
}
.piece {
  color: #2e2f42;
}
.link {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.address {
  font-style: normal;
}
.adress-link {
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: #434455;
  letter-spacing: 0.02em;
}
/* .hero {
  background: #2e2f42;
} */
.header-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.order-btn {
  font-family: "Roboto", sans-serif;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  vertical-align: middle;
  color: white;
}
.feature-header {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.feature-par {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* .team {
  background-color: #f4f4fd;
} */
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}
.team-card {
  background-color: white;
  padding-bottom: 32px;
}
.team-card-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.team-card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.portfolio-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.footer-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.sec-piece {
  color: #f4f4fd;
}
